.btn-group-vertical.d-grid.gap-2.col-6.mx-auto.top(role="group", aria-label="Vertical button group")
  if isLoggedIn
    a.btn.btn-outline-primary(href="/api/session/delete", type="button") Sign out
  else
    a.btn.btn-outline-primary(href="/api/session/new", type="button") Sign in
    a.btn.btn-outline-primary(href="/api/users/new", type="button") Sign up

  .btn-group(role="group")
    button.btn.btn-outline-primary.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-expanded="false") Practice
    ul.dropdown-menu
      li
        a.dropdown-item(href="#") Choosing
      li
        a.dropdown-item(href="#") Writing
      li
        hr.dropdown-divider
      li
        a.dropdown-item(href="#") Settings
  form.input-group(id="searchForm", role="search", action="/api/search", method="GET")
    input.form-control.request-field(id="inputField", type="search", name="content" placeholder="Your request", aria-label="Search")
    button.btn.btn-outline-primary(id="pasteButton", type="button") Paste
    button.btn.btn-outline-primary(type="submit") Search

script.
  document.getElementById('pasteButton').addEventListener('click', async () => {
    try {
      // Request clipboard content
      const clipboardText = await navigator.clipboard.readText();

      // Insert clipboard content into the input field
      document.getElementById('inputField').value = clipboardText;

      // Submit the form
      // document.getElementById('searchForm').submit();
    } catch (error) {
      console.error('Failed to read clipboard content:', error);
    }
  });